body{
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: sans-serif;
}
.student-navbar {
  background-color: grey;
  width: 200px;
  min-width: 200px;
  height: 100vh;
  position: absolute;
}
.nav-wrapper{
margin: 0;
}
.student-navbar p:first-child {
  margin: 0;
}
.main-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85vw;
  transform: translateX(15vw);
}
.small-box{
  width:25vw;
  background: white;
  border:solid 1px #dedede;
  margin-top: 10px;

}
.nav-user-block{
  margin-left:7px;
  margin-top:5px;
}
.nav-user-block p{
  margin-left:65px;
}
.nav-user-block h4{
  margin-top:-10px;
  margin-left:80px;
  width:50px;
}
 .nav-user-block img {
  border-radius: 50%;
  width: 59px;
  border: solid 5px white;
  position: absolute;
 }



@media only screen and (max-width:769px){
.student-navbar{
  position: fixed;
  background-color:green;
  width: 50vw;
  min-width: 0px;
  transform: translateX(-51vw);
  }
  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    transform: translateX(0vw);
  }
  .small-box{
    background: white;
    border:solid 1px #dedede;
    width: 80vw;
    margin: auto;
    margin-top:6vh;
    padding-left:10px;
    padding-right:10px;
  }

  .small-box h2{

    font-family: Arial;
  }
  .small-box hr{
    width:99%;
  }
  .small-box h4{
    margin-bottom:-5px;
  }
  .main-content .small-box:last-child{
    margin-bottom:6vh;
  }
}

@media only screen and (max-width:1225px){
  .main-content{
    justify-content: center;
    flex-direction: column;
  }
  .small-box{
    margin:10px auto 10px auto;
    width: 50vw;
  }
}
