.nav-wrapper-grid{
  display:grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
}
.nav-grid-space{
  grid-row: 1 / last-line;
}
.top-nav-bar{
  display:grid;
  background:#3b4052;
  height:50px;
  grid-template-columns: auto 75px;
}
.top-nav-bar h1{
  margin:0px;
  padding:0px;
  justify-self: center;
  align-self: center;
  color:white;
  font-family: "Source Sans Pro", sans-serif;
  margin-left:75px;
}
.top-nav-bar button{
  margin:0px;
  padding:0px;
  height: 25px;
  align-self: center;
  margin-right:10px;
  border:none;
  border-bottom:solid 1px white;
  color:white;
  background: #3b4052;
  font-weight: bold;

}
.top-nav-bar button:hover{
  cursor:pointer;
  background:#2e3344;
}
.grid-main-content-row{
  display:grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
}
.grid-1-box, .grid-2-box, .grid-3-box, .grid-4-box{
  margin: 0px 10px 0px 10px;
}
.grid-1-box{
  display:grid;
  grid-template-columns: auto;
  grid-column-start: 2;
}
#hubba {
  grid-column-start: 2;
}

.grid-2-box{
  display:grid;
  grid-template-columns: 50% 50%;
}
#exams {
  grid-column-start: 1;
  margin-right: 10px;
}
#exams h3 {
  text-align: left;
}
#assignments h3 {
  text-align: left;
}


.grid-3-box{
  display:grid;
  grid-template-columns:33.3% auto auto;
  grid-column-start: 2;
  grid-gap:10px;
}
.grid-4-box{
  display:grid;
  grid-template-columns:auto auto auto auto;
}
.grid-style-box{
  background:white;
  border-radius: 4px;
  margin-top:10px;
  padding-left:10px;
  padding-right:10px;
}
.courses-box-grid{
  display:grid;
  grid-template-columns: 50% 50%;
}
.courses-box h1, .courses-box h2,.courses-box h3, .courses-box h4 .courses-box h5{
  padding:0px;
  margin:0px;
}
.course-box-courseText{
  padding:10px;
  text-align:center;
}
.course-box-courseTeacher{
  padding:5px;
  text-align:center;
}
.courses-box h5{
  text-align:center;
}
.courses-box-first{
  padding:10px;
}
.courses-box-second{
  padding:10px;
}
.courses-box a{
  text-decoration: none;
  color:grey;
}

.home-turnAssignment-box{
  display:grid;
  grid-template-columns: auto;
}
.home-turnAssignment-box h4, .home-turnAssignment-box h2, .home-turnAssignment-box input{
  padding:5px;
  margin: 0px;
  align-self: center;
}

.home-Assignment-box{
  display:grid;
  grid-template-columns: 75px auto 75px;
}

.home-Assignment-box p{
  font-size:50px;
  color:#006ABF;
  padding:5px;
  margin:0px;
}
.home-Assignment-box-content h4, .home-Assignment-box-content p{
  padding:5px;
  margin:0px;
  color:black;

}
.home-Assignment-box-content p{
  font-size:15px;
}
.home-Assignment-box button{
  background: #006ABF;
  border:none;
  border-radius: 3px;
  color:white;
  padding:5px;
  align-self:center;
  cursor:pointer;
}

body{
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: "Source Sans Pro", Sans-Serif;
  overflow-x: hidden;
}
.student-navbar {
  background-color: #3b4052;
  width: 200px;
  min-width: 200px;
  height: 100%;
  position: absolute;
}
.mobile-nav{
  display:none;
}
.fa-bars {
  font-size: 40px;
  color: white;
  margin-left:17px;
}
.nav-wrapper{
margin: 0;
}
.student-navbar p:first-child {
  margin: 0;
}
.main-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85vw;
  transform: translateX(15vw);
}
.main-content-g{
  display:grid;
  grid-template-columns: 200px auto;
}
.main-content-g-second{
  display: grid;
  grid-template-columns: auto  auto;
  grid-column-gap: 10px;
}
.small-box{
  width:25vw;
  background: white;
  border:solid 1px #dedede;
  padding: 10px;

}
.nav-user-block{
  margin-left:7px;
  margin-top:5px;
}

.nav-user-block h4{
  margin-top:-10px;
  margin-left:80px;
  width:50px;
  color: white;
}
 .nav-user-block img {
  border-radius: 50%;
  width: 59px;
  border: solid 5px white;
  position: absolute;
 }
 .nav-user-block p {
  color:white;
 }
 .nav-menu {
  margin-top: 35px;
 }
 .nav-menu p {
  color: white;
  padding: 10px 0px 10px 25px;
  margin: 0px;
  background-color: #3b4052;
 }
 .nav-menu p:hover {
  background-color: #32374a;
  cursor:pointer;

 }
 .nav-menu  a{
   color:white;
   text-decoration: none;
 }
 .nav-menu  div div p:hover{
  cursor:pointer;
 }
 .nav-menu  div div div p{
   padding-left:50px;
   background:none;
 }
 #nav-ongoing-courses, #nav-upcoming-courses{
   background:#2e3344;
 }


.student-navbar p i {
  width: 25px;
 }
.nav-user-block p{
  margin-left:65px;
}

@media only screen and (max-width:1225px){
  .main-content{
    justify-content: center;
    flex-direction: column;
  }
  .small-box{
    margin:10px auto 10px auto;
    width: 50vw;
  }
}

/*/ Upcoming /*/



/*COURSES */
#Courses .small-box{
  border-radius: 3px;
  margin-top:25px;
}
#Courses .small-box h2, #Courses .small-box h4, #Courses .small-box p{
  margin-left:10px;
  color:#424242;
}
#Courses .small-box p{
  margin-top:-10px;

}

/*Grades */

#Grades #finished-coursess {
  grid-column-start: 2;
  grid-gap: 10px;
}
#Grades #finished-coursess .grid-style-box:nth-last-child(1){
  margin-bottom:15px;
}
#Grades #finished-coursess .grid-style-box:nth-last-child(2){
  margin-bottom:15px;
}
#Grades #finished-coursess h2,#Grades #finished-coursess h3{
	text-align: center;
	margin-top: 10px;
	line-height: 2;
}


/*Grades */
/*AddCourse in admin*/
#addcourse h3{
  text-align:left;
}
#addcourse button#effect{
  margin-left: 10px;
}
#addcourse li{
  list-style: none;
}
#addcourse li.list button{
  margin-left: 50px;
}
/*AdCourse in admin*/

/* Student Home */
.home-top-nav-bar-container-first{
  display: grid;
  grid-column-gap: 10px;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-columns: auto;
}
.home-top-nav-bar-container-second{
  background:white;
  height:50px;
  background-color: #3b4052;
  display:grid;
  grid-template-columns: auto 80px;
}
.top-nav-bar-text{
  align-self:center;
  justify-self: center;
}
.top-nav-bar-text h4{
  margin: 0px;
  color:white;
  font-size:28px;
   margin-left:80px;
}
.top-nav-bar-button{
  align-self:center;
}
.top-nav-bar-button button{
  margin-right:10px;
}


.home-attendance-timeline-container-grid{
  display: grid;
  grid-column-gap: 10px;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-template-columns: 10px auto 10px;
}
.home-attendance-timeline-grid{
  background: white;
  height:auto;
  padding:10px;
  border-radius: 3px;
  margin-top:10px;
  display: grid;
  grid-template-columns: 75px auto 75px auto 75px;
}
.home-attendance-box-grid{
  display: grid;
  grid-column-gap: 10px;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-template-columns: 10px auto auto auto 10px;
}

.student-news-grid{
  display:grid;
  grid-column-gap: 10px;
  grid-column-start: 2;
  grid-row-start: 4;
  grid-template-columns: 10px  auto 10px;

}



.attendance-timeline-circle{
  background: #0080E8;
  align-self:center;
  border-radius:50%;
  height:75px;
  width:75px;
  display: grid;
}
.attendance-timeline-line{
  background: #006ABF;
  height:10px;
  align-self:center;
}
.attendance-timeline-text{
  color:white;
  margin:0;
  align-self:center;
  text-align:center;
  font-weight: bold;
}
.attendance-box{
  background:white;
  border-radius: 0px 0px 3px 3px;
  margin-bottom:10px;
  display:grid;
  padding:10px;
}
.attendance-button{
  border:none;
  background: #006ABF;
  border-radius: 3px;
  color:white;
  font-weight: bold;
  cursor:pointer;
  margin-top:10px;
  padding:5px 5px;
  border-bottom:solid 1px white;
}
.attendance-button:active{
  border-bottom:solid 1px blue;
}
.attendance-course-text{
  justify-self:center;
  margin:0;
  padding:0;
}
.attendance-course-time{
  position:absolute;
  margin-left:10px;
  color:#0080E8;
  font-weight: bold;
}
.attendance-course-checkbox{
  justify-self:end;
  width:20px;
  height:20px;
}
.news-box h2{
  text-align: center;
}
#attendance-dropdown{
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  display:none;
}
#attendance-dropdown-grid{
  display:grid;
  grid-template-columns: 200px auto;
  align-items:center;
}

#attendance-dropdown div div:nth-child(2){
  justify-self:center;
  width:90%;
  background:rgb(46, 51, 68);
  display:grid;
  height:100%;
}


#attendance-dropdown div div:nth-child(2) div{
  width:100%;
  height:40px;
  background:red;
  display:none;
}
#attendance-dropdown div div:nth-child(2) i{
  color:white;
  padding:10px;
  justify-self:right;
  transition: transform 0.5s;
}
closeIconStyle:hover{
  transform:rotate(90deg);
}

#attendance-dropdown div div:nth-child(2) input{
  margin:10px;
  height:50px;
}

#attendance-dropdown div div:nth-child(2) button{
  margin:10px;
  height:30px;
  border-bottom:none;
}

#attendance-dropdown div div:nth-child(2) div h3{
  padding:0;
  margin:0;
  justify-self:center;
  align-self:center;
  color:white;
}

/*Admin Evaluation overlay */
/*Admin evaluation overlay*/



.dark-overlay{
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:black;
  opacity:0.7;
  display:none;
}



/*-----------------------EVALUATIONS-------------------*/

.evaluation-overview {
  height: 10vh;
  width: 100%;
  margin-bottom: 30px;
}
.evaluation-day, .evaluation-week{
  background-color: black;
  height: 55%;
  width: 12%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  float: left;
  margin-right: 2%;
}
.evaluation-week {
  width: 95.9%;
  margin-top: 8px;
  height: 35%;
}

.evaluation-overview h4 {
  color: white;
  margin: 0;
  height: 100%;
  font-size: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#weekly-form-fill {
  position: absolute;
  transform: translateY(-65vh);
  height: 61vh;
  height: auto;
  visibility: hidden;
  width: 80%;
  float: right;
}
#send-form-fill-week {
  height: 5vh;
  width: 6vw;
  background-color: #006ABF;
  bottom: 1vh;
  right: 1vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10%;
  margin-top: 1vh;
  float: right;
}
#send-form-fill-week:hover {
  background-color: #0071CC;
}
#course-form-fill {
  position: absolute;
  transform: translateY(-65vh);
  height: 61vh;
  height: auto;
  visibility: hidden;
  width: 90%;
}
#send-form-fill-course {
  height: 5vh;
  width: 6vw;
  background-color: #006ABF;
  bottom: 1vh;
  right: 1vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10%;
  margin-top: 1vh;
  float: right;
}
#send-form-fill-course:hover {
  background-color: #0071CC;
}
.courseEvaluation {
  width: auto;
  height: 6vh;
  background-color: #BEBB13;
  flex: left;
  flex-direction: column;
  margin-bottom: 1vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 17px;
}
textarea {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  resize: auto;
  border: 1px solid black;
}
.evaluate-scale {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.evaluate-scale-circle {
  height: 27px;
  width: 33px;
  border-radius: 30px;
  background-color: orange;
  margin-right: 5%;
}
#circle-scale-description {
  margin-top: 1%;
  width: 180px;
  margin: 0;
}
.evaluate-scale-circle p {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
#evaluate-scale-circle-5 {
  margin-right: 0;
}
.small-box h4 {
  margin: 0;
  padding: 0;
}
#currentPageHeader {
  display: none;
}
#form-description-title {
  text-align: center;
  padding-bottom: 5px;
}
.form-description{
  width: 50px;
  text-align: center;
}
#form-description-left {
  margin-right: 8px;
}
#form-description-right {
  margin-left: 8px;
}
@keyframes slide-down-formFill {
  from {transform: translateY(-65vh);}
  to {transform: translateY(0vh);}
}
@keyframes slide-up-formFill {
  from {transform: translateY(0vh);}
  to {transform: translateY(-65vh);}
}

#course-evaluations {
  margin-right: 10px;
}


/*-----------------------SMILEYS-------------------*/
.main-content {
  z-index: 1;
}
.student-navbar {
  z-index: 3;
}
.feedback {
  z-index: 2;
  transform: translateX(49px);
  width: 0;
  height: 98%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 2vh;
  position: absolute;
}
.feedback-button {
  background-color: green;
  width: 36px;
  height: 36px;
  border-radius: 10vw;
  float: left;
  margin: 0.5vw;
  margin-left: 8px;
}
.eyeLeft {
  position: absolute;
  transform: translate(6px, 10px);
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 2vw;
}
.eyeRight {
  position: absolute;
  transform: translate(20px, 10px);
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 2vw;
}
.mouth {
  position: absolute;
  transform: translate(1.7vw, 0.25vh);
  height: 23px;
  width: 25px;
  border-bottom: 3px solid #222;
  border-radius: 100%
}
#mouth-lecture {
  transform: translate(6px, 21px) rotateX(180deg);
  border-radius: 100%;
}
#lectureFeedback{
  background-color: red;
}
#mouth-website {
  transform: translate(6px, 1px) rotateX(0deg);
  border-radius: 0;
}
#websiteFeedback{
  background-color: yellow;
}
#mouth-facilities {
  transform: translate(6px, 5px) rotateX(0);
  border-radius: 100%;
}
#facilitiesFeedback{
  background-color: green;
}

.open-feedback-text {
  background-color: red;
  height: 55px;
  width: 80px;
  flex: left;
  position: relative;
  text-align: center;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}
.open-feedback-text:hover {
  background-color: #E40A0A;
}
#course-form-fill, #weekly-form-fill {
  width: calc(98% - 200px);
  left: 208px;
  top: 50px;
}
.form-description {
  font-size: 13px;
  margin-top: 10px;
}
@keyframes slide-in{
  from {transform: translateX(53px);}
  to{transform: translateX(200px);}
}
@keyframes slide-out {
  0% {transform: translateX(200px);}
  50% {transform: translateX(200px);}
  100% {transform: translateX(-40px);}
}
@keyframes close-box{
  0% {width: 80px; background-color: red;}
  50% {width: 0;}
  100%{width: 80px; background-color: yellow;}
}
@keyframes onclick-color-changeRed {
  0% {background-color: red;}
  50% {background-color: #760512;}
  100%{background-color: red;}
}
@keyframes onclick-color-changeYellow {
  0% {background-color: yellow;}
  50% {background-color: #ACB004;}
  100%{background-color: yellow;}
}
@keyframes feedback-done {
  0% {background-color: yellow;}
  100%{background-color: green;}
}

/*-----------------------ONLY TEST DATA-------------------*/
#week41:hover, .courseEvaluation:hover, #wednesday41:hover {
  background-color: #ADAA10;
}
#wednesday41, #week41 {
  background-color: #BEBB13;
}
#monday41, #tuesday41, #monday40, #tuesday40, #thursday40, #friday40, #tuesday39, #wednesday39, #thursday39, #week40{
  background-color: green;
}
#monday39, #friday39, #week39, #wednesday40{
  background-color: grey;
}
      /*-----------------------ONLY TEST DATA-------------------*/

@media only screen and (max-width:1225px){
  .main-content{
    justify-content: center;
    flex-direction: column;
  }
  .small-box{
    margin:10px auto 10px auto;
    width: 50vw;
  }
}


/* TEACHER */
.teacherAssignmentsBox{
  padding:10px;
  border-radius:3px;
}
.teacherAssignmentsBox div{
  display:grid;
}

.teacherAssignmentsBox  div div:first-child{
  display:grid;
  grid-template-columns: auto  20px 20px;
  grid-column-gap:15px;
  border-top:solid 1px grey;
  border-bottom:solid 1px grey;
  padding:5px;
}


.teacherAssignmentsBox  div div div:first-child{
  display:grid;
  grid-template-columns: 20px auto 20px;
  grid-column-gap:15px;
  border-top:solid 1px #DBDBDB;
  border-bottom:solid 1px #DBDBDB;
  padding:5px;
}
.teacherAssignmentsBox  div div div{
  display:grid;
  grid-template-columns: 20px auto 20px;
  grid-column-gap:15px;
  border-top:solid 1px #DBDBDB;
  border-bottom:solid 1px #DBDBDB;
  padding:5px;
  background:rgba(245,245,245, 0.5);
}

.teacherAssignmentName, .adminAccountName{
  color:#232323;
  margin:0px;
  font-size:17px;
  cursor:pointer;
  align-self: center;
}
.teacherAssignmentEdit, .adminAccountEdit{
  color:#006ABF;
  font-size:21px;
  padding:0px;
  margin:0px;
  cursor:pointer;
}
.teacherAssignmentTrash, .adminAccountDelete{
  color:#c12424;
  font-size:20px;
  padding:0px;
  margin:0px;
  cursor:pointer;
}
#addGradeTitle{
  width:auto;
}
#teacher-assignment-dropdown, #teacher-examination-dropdown, #teacher-delete-dropdown, #teacher-setGrade-dropdown, #admin-edit-dropdown, #admin-evaluation-dropdown, #admin-edit-evaluation-dropdown{
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  display:none;
}
#teacher-assignment-dropdown-grid, #teacher-examination-dropdown-grid, #teacher-delete-dropdown-grid, #teacher-setGrade-dropdown-grid, #admin-evaluation-dropdown-grid, #admin-edit-evaluation-dropdown-grid, #admin-account-edit-grid{
  display:grid;
  grid-template-columns: 200px auto;
  align-items:center;
}

.center-content{
  justify-self:center;
  width:90%;
  background:rgb(46, 51, 68);
  display:grid;
  height:100%;
}


#assignment-dropdown-error, #teacher-examination-dropdown div div:nth-child(2) div:first-of-type,#evaluation-dropdown-error{
  width:100%;
  height:40px;
  background:red;
  display:none;
}
.closeIconStyle{
  color:white;
  padding:10px;
  justify-self:right;
  transition: transform 0.5s;
}
.closeIconStyle:hover{
  transform:rotate(90deg);
}

#teacher-assignment-dropdown div div:nth-child(2) input, #teacher-examination-dropdown div div:nth-child(2) input, #admin-evaluation-dropdown div div:nth-child(2) input, #admin-edit-evaluation-dropdown div div:nth-child(2) input{
  margin:10px;
  height:50px;
}

#teacher-assignment-dropdown div div:nth-child(2) button, #teacher-examination-dropdown div div:nth-child(2) button, #admin-evaluation-dropdown div div:nth-child(2) button, #admin-edit-evaluation-dropdown div div:nth-child(2) button {
  margin:10px;
  height:30px;
  border-bottom:none;

}


#teacher-assignment-dropdown div div:nth-child(2) div h3, #teacher-examination-dropdown div div:nth-child(2) div h3, #admin-evaluation-dropdown div div:nth-child(2) div h3, #admin-edit-evaluation-dropdown div div:nth-child(2) div h3  {
  padding:0;
  margin:0;
  justify-self:center;
  align-self:center;
  color:white;
}
#teacher-setGrade-dropdown div div:nth-child(2) h3{
  text-align:center;
  color:white;
}


#teacher-delete-dropdown div div:nth-child(2) h2, #admin-edit-dropdown div div:nth-child(2) h2, #admin-evaluation-dropdown div div:nth-child(2) h2, #admin-edit-evaluation-dropdown div div:nth-child(2) h2{
  text-align:center;
  color:white;
}
#teacherCourseName{
  text-align:center;
  padding:10px;
}
.teacherEvaluationsText{
  text-align:center;

}

h2.teacherEvaluationsText {
    margin-top: 10px;
}

.assignmentDelete{
  color:white;
  background:#c92424;
  border:none;
  border-radius: 3px;
  cursor:pointer;
  margin-left:5px;
}
.assignmentCancel{
  color:white;
  background:#006ABF;
  border:none;
  border-radius: 3px;
  cursor:pointer;
  margin-right:16px;
}
.teacherSetGrade-button{
  color:white;
  background:#006ABF;
  border:none;
  border-radius: 3px;
  cursor:pointer;
  padding:5px;
  margin:5px;
}
textarea{
  resize: vertical;
  margin:5px;
}
select{
  padding:5px;
  margin:5px;
  color:#262626;
}
.teacherEvaluationsBox{
  display:grid;
  grid-template-columns: auto;
}
.teacherEvaluations{
  display:grid;
  grid-template-columns: 20px auto;
  padding:7px;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  font-weight: bold;
}
.teacherEvaluationsData{
  display:grid;
  grid-template-columns:20px auto 20px;
  background: rgba(245,245,245, 0.5);
  grid-column-gap: 15px;
  border-top: solid 1px #DBDBDB;
  border-bottom: solid 1px #DBDBDB;
  padding:5px;
}
.teacherEvaluationsName{
  padding:0px;
  margin:0px;
  align-self:center;
  margin-left:10px;
  cursor:pointer;
}
.teacher-attendence-home{
  display:grid;
  background: rgba(249,249,249, 0.4);
  border-top:solid 1px #efefef;
  border-bottom:solid 1px #efefef;
  margin: 10px 0px;
}
.teacher-attendence-home input, .teacher-attendence-home button{
  margin: 5px 15px;
}

.teacher-attendence-home h2:first-of-type{
  text-align:center;
  padding: 5px 0px;
  margin:0px;
}
.teacher-attendence-home h2{
  text-align:center;
  padding: 5px 0px;
}
.teacher-attendence-home h4{
  height:20px;
  margin:0px;
  text-align:center;
  padding: 5px 0px;
}
#code-holder, #code-holderr{
  display:none;
}
.teacher-home-students{
  display:grid;
  grid-template-columns: 20px auto;
  background:rgba(245,245,245, 0.5);
  border-bottom: solid 1px #c6c6c6;
}
.teacher-home-students:first-of-type{
  display:grid;
  grid-template-columns: 20px auto;
  background:rgba(245,245,245, 0.5);
  border-bottom: solid 1px #c6c6c6;
  border-top:solid 1px #c6c6c6;
}
.teacher-home-students p{
  margin:0px;
  padding:3px;
  color:#232323;
}
.teacher-home-students i{
  color:#006ABF;
}
.somethingelse{
  display:grid;
  grid-template-columns: 50% 50%;
}
.TeacherAssignmentSingleBox{
  align-self: center;
  background:#006ABF;
  padding:5px;
  cursor:pointer;
}

.TeacherAssignmentSingleBox h2{
  text-align:center;
  padding:0px;
  margin:0px;
  color:white;
}
#deselected{
  background: #202430;
}
#deselected h2{
  color:grey;
}
.teacherButtonAdd{
  color:white;
  font-weight: bold;
  font-size: 20px;
  background:#19b034;
  border:none;
  border-radius:3px;
  cursor:pointer;
}
.teacherStudentGroup{
  display:grid;
  grid-template-columns: auto;
  padding:1px;
  color: white;
  margin: 2px 10px;
  background: #353b4f73;
  padding-left: 10px;
}
.trashColor{
  color:#ff1d1d;
  cursor:pointer;
}
.teacherGroupStudent{
  background: #353b4f73;
  padding:10px 5px;
  align-self:center;
  color:white;
  cursor:pointer;
  margin:0px;
}

.teacherGroupStudent i {
  float:right;
  padding:0px 3px;
  color:#006ABF;
  cursor:pointer;
}
.groupsStyling{
  padding:0px;
  border-left:solid 2px #006ABF;
  height:40px;
  overflow:hidden;
  overflow-y:scroll;
}

.groupsStyling li{
  background: #353b4f73;
  list-style: none;
  padding:3px 5px;
  margin:0px;
  color:white;
  cursor:pointer;
}

.groupsStyling li:hover{
  background: #21243173;
}

/** ADMIN ACCOUNT **/
.radiowrapper {
  text-align: center;
}
[type=radio] {
  margin-left: 10px;
  margin-right: 10px;
}
.field-wrapper {
  margin-top: 20px;
}
.field-wrapper-button {
  margin-top: 20px;
  text-align: center;
}

label {
  width: 25%;
  display: inline-block;
  text-align: left;
}
form {
  font-size: 20px;
}
#editform {
  color: white;
  text-align: center;
}
#editform {

}
.list div {
  display: grid;
}
.list div div:first-child {
    display: grid;
    grid-template-columns: auto 20px 20px;
    grid-column-gap: 15px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    padding: 5px;
}
.admin-center-content{
  justify-self:center;
  width:40%;
  background:rgb(46, 51, 68);
  display:grid;
  height:100%;
}





.no-evaluations-found{
    padding: 7px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    font-weight: bold;
}

.evaluation-list-course-title-box{
    display: grid;grid-template-columns: auto 140px;
}
.evaluation-list-course-title{
    font-size: 24px;
    cursor: pointer;
}

.evaluation-title-box{
   display: grid;grid-template-columns: 15px auto 30px 30px;
}


.evaluation-title{
    font-size: 20px;
    cursor: pointer;
}

.evaluation-title-in-lytbox{
    color:#fff;
}

.evaluation-div, .edit-evaluation-div{
    margin:10px;
    height:600px;
    overflow-y: scroll;
}

#evaluation-form input{
    border: 1px solid #1c97f3;
    width: 80%;
    height: 30px;
    margin-bottom:20px;
}

.delete-evaluation {
    background-color: #fd1200;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}


/* ADMIN CLASSES */
.adminClassStudents:first-of-type, .adminClass:first-of-type{
  display:grid;
  grid-template-columns: 20px auto 25px;
  background:#f6f6f6;
  border-top:#e5e5e5 solid 2px;

}
.adminClassStudents:last-of-type, .adminClass:last-of-type{
  display:grid;
  grid-template-columns: 20px auto 25px;
  background:#f6f6f6;
  border-bottom:#e5e5e5 solid 2px;

}

.adminClassStudents, .adminClass{
  display:grid;
  grid-template-columns: 20px auto 25px;
  background:#f6f6f6;
  border-top:#e5e5e5 solid 2px;
}
.adminClassStudents{
  padding:10px
}
.adminClass{
  padding:15px;
}

.adminClassStudents p, .adminClass p{
  align-self:center;
  margin:0px;
  color:#006ABF;
}
.adminClassStudents h3, .adminClass h3{
  margin:0px;
  color:#1a1a1a;
}
.adminClassStudents button{
  color:white;
  background:#44b144;
  border:none;
  border-radius:3px;
  cursor:pointer;
  font-weight: bold;
}

.grid-style-box select{
  margin:0px;
  width:100%;
  margin-bottom:5px;
}
.ClassCreator{
  display:grid;
  grid-template-columns: 100%;
}
.ClassCreator button{
  border:none;
  border-radius: 3px;
  color:white;
  font-weight: bold;
  padding:12px;
  background: #44b144;
  margin: 5px 0px;
  width:100%;
  cursor:pointer;
}
.ClassCreator input{
  padding:10px;
  font-weight: bold;
  margin-bottom:5px;
}
.news-box {
  border:none;
  background: #006ABF;
  border-radius: 3px;
  color:white;
  font-weight: bold;
  cursor:pointer;
  margin-top:10px;
  padding:5px 5px;
  border-bottom:solid 1px white;
}
.news-input{
  margin-right: 10px;
}
#news-text-input {
  width: 80%;
  height: 60px;
}
#news-text-input {
  margin: 0;
  margin-top: 10px;
  border-width: 2px solid;
  border-color: #AFAFAC;
  width: 100%;
}
.titleNews {
  display: inline;
  margin-left: 3px;
}

@media only screen and (max-width:769px){
  .grid-2-box {
    grid-template-columns: auto;
    margin-top: 100px;
    }
  #exams {
    margin-right:0px;
  }

  .grid-1-box {
    margin-top:100px;
  }

  .courses-box-grid{
      grid-template-columns: 100%;
  }

  .student-navbar{
    position: fixed;
    background-color:#32374a;
    width: 50vw;
    min-width: 0px;
    transform: translateX(-51vw);
    z-index: 3;
  }
  .nav-menu p {
  background-color: #32374a;

 }
 .grid-2-box{
   grid-template-columns: auto;
 }
 .grid-3-box{
   grid-template-columns: auto;
   margin-top: 100px;
 }


  .mobile-nav{
    position:fixed;
    background-color: #3b4052;
    width:100vw;
    height:75px;
    z-index:2;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .mobile-nav div:first-child{
    justify-self:start;
  }


img {
  width: 75px;
  float: left;
}
.mobile-nav h2 {
  float: left;
}


  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    transform: translateX(0vw);
  }
  .small-box{
    background: white;
    border:solid 1px #dedede;
    width: 80vw;
    margin: auto;
    margin-top:6vh;
    padding-left:10px;
    padding-right:10px;
  }

  .small-box h2{

    font-family: Arial;
  }
  .small-box hr{
    width:99%;
  }
  .small-box h4{
    margin-bottom:-5px;
  }
  .main-content .small-box:last-child{
    margin-bottom:6vh;
  }

  #Courses .small-box{
    width:80vw;
  }
  #Courses .small-box:first-child{
    margin-top:100px;
  }
  #Courses .small-box p{
    margin-top:10px;
  }
  #Courses .small-box div:last-child h4{
    padding-bottom:20px;
  }
  .evaluation-div{
    margin:10px;
    height:200px;
    overflow-y: scroll;
  }

  #Grades #finished-coursess .grid-style-box:nth-last-child(2) {
      margin-bottom: 0px;
  }

  .Home-mobile-grid{
    display:grid;
    grid-template-columns: 10px 75px 5px auto 10px;
    padding-top:100px;
  }
  .attendance-timeline-line{
    width:10px;
    justify-self:center;
    height: 100px;
    border-radius: 5px;
  }
  .attendance-box{
    margin-bottom: 0px;
    padding: 8px;
    padding-top:5px;
    border-radius:8px;
  }
  .attendance-course-checkbox{
    padding: 2px;
  }
  .grid-main-content-row{
    grid-template-columns: 0px auto;
  }


  .courses-box:first-child {
    margin-top:0px;
  }
  .nav-wrapper-grid{
    display:none;
  }
  #attendance-dropdown div div:nth-child(2){
    height:auto;
    margin-top:75px;
  }
  #attendance-dropdown-grid{
    grid-template-columns: 0px auto;
  }

  #weekly-form-fill {
    height: 450px;
    margin-left: 1vw;
  }
  #weekly-form-fill h4 {
    margin-bottom: 1vh;
  }
  #course-form-fill {
    height: 450px;
    margin-left: 1vw;
  }
  #course-form-fill h4 {
    margin-bottom: 1vh;
    margin-top: -2px;
  }
  #form-description-title {
    text-align: center;
  }
  #form-description-left {
    margin-right: 4px;
    text-align: center;
  }
  #form-description-right {
    margin-left: 4px;
    text-align: center;
  }
  #send-form-fill-week, #send-form-fill-course {
    width: 15vw;
  }
  #small-boxes-title{
    font-size: 110%;
  }
  #my-evaluations {
    margin-top: 13vh;
  }
  #course-evaluations {
      margin-right: 0;
  }
  #course-form-fill, #weekly-form-fill {
    width: calc(100vw - 30px);
    left: 2px;
  }
  .feedback {
    transform: translateX(-137px);
  }
  @keyframes slide-in{
    from {transform: translateX(-137px);}
    to{transform: translateX(80px);}
  }
  @keyframes slide-out {
    0% {transform: translateX(80px);}
    100% {transform: translateX(-270px);}
  }
  #teacher-assignment-dropdown-grid, #teacher-examination-dropdown-grid, #teacher-delete-dropdown-grid, #teacher-setGrade-dropdown-grid, #admin-evaluation-dropdown-grid, #admin-edit-evaluation-dropdown{
    grid-template-columns: 0px auto;
    margin-top:75px;
  }

}


@keyframes validationFeedback {
  0%{background-color: white}
  10%{background-color: red}
  100%{background-color: white}
}
